	<section class="page-404">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
					<h1>404</h1>
					<h2>Page Not Found</h2>
					<a href="/" class="btn btn-primary mt-5" ><i class="tf-ion-android-arrow-back"></i> Go Home</a>
					
				</div>
			</div>
		</div>
	</section>
    <style>
		section{
			height: 500px;
			width: 400px;
			display:flex;
			align-items: center;
			justify-content: center;
			position:relative;
			left: 700px;
		}

		h1{
			font-size: 120px;
		}
		h2{
			font-size: 40px;
		}
	</style>